.login-section {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  justify-content: center;
}

.header h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin: 0;
  font-size: 2.4rem;
  font-weight: 400;
}

.header img {
  flex-basis: 150px;
  width: 36px;
  height: 40px;
}

.header h2 {
  font-size: 2.4rem;
  text-align: center;
  font-weight: 600;
}

.footer {
  position: absolute;
  bottom: 0rem;
}

.footer p {
  font-size: 1.6rem;
  font-size: 300;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .header img {
    flex-basis: auto;
  }

  .login-section {
    max-width: 700px;
    margin: 0 auto;
  }

  .footer {
    left: 50%;
    transform: translate(-50%);
  }
}

@media screen and (min-width: 768px) {
  .header img {
    flex-basis: auto;
  }

  .footer {
    left: 50%;
    transform: translate(-50%);
  }
}
