.grid {
  display: grid;
  gap: 20px;
  flex: 1;
  margin-right: 20px;
}

.grid-1x2 {
  grid-template-columns: auto 450px;
}

@media (max-width: 1600px) {
  .grid-1x2 {
    grid-template-columns: auto 400px;
  }
}

@media (max-width: 1280px) {
  .grid-1x2 {
    grid-template-columns: auto 300px;
  }
}
