.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.input-group label {
  font-size: 1.4rem;
  padding-bottom: 0.5rem;
}

.input-group input {
  border: 1px solid #94a3b8;
  border-radius: 24px;
  padding: 1rem 1.5rem;
  font-size: 14px;
  transition: 0.4s border-color;
}

.input-group input:focus {
  border-color: #f31e77;
  outline: 0;
  box-shadow: 0 0 0 3px #c90a5a52;
}

@media screen and (min-width: 768px) {
  .group {
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }

  .input-group {
    flex: 1;
  }
}
