.block {
  /* margin: 10px; */
  margin: 0 10px 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 2px #ccc;
  border-radius: 5px;
  display: inline-block;
}

.btn {
  cursor: pointer;
}

.block h1,
p {
  margin: 0;
  color: #6d0740;
  text-align: center;
}

.block h1 {
  font-weight: 600;
}

.block p {
  font-weight: 400;
  font-size: 3rem;
}
