.blocks {
  display: grid;
  grid-template-columns: 250px 250px 250px;
  margin: 0;
}

.container {
  display: flex;
  max-height: 590px;
  flex-direction: row;
  margin-top: 1rem;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #ccc;
}

.chat {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
