.nav-bar {
  max-width: 232px;
  margin: 0;
  background-color: #c99649;
  height: 100vh;
  position: relative;
}

.nav-logo {
  display: flex;
  align-items: center;
  padding: 1rem 1rem;
  color: white;
  margin-bottom: 1.5rem;
}

.nav-logo h1 {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 1rem 0;
}

.nav-logo span {
  justify-self: center;
  align-self: center;
}

.nav-logo img {
  width: 50px;
  height: 50px;
}

.nav-list {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  list-style: none;
}

.nav-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5rem;
}

.nav-item a {
  display: flex;
  font-size: 1.4rem;
  gap: 10px;
  align-items: center;
  /* justify-content: center; */
  text-decoration: none;
  color: #0815c1;
  font-weight: 400;
  min-width: 220px;
  padding: 1rem 1.5rem;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  transition: background-color 0.4s, box-shadow 0.8s;
}

.nav-item a:hover {
  background-color: #d8d3cb;
  box-shadow: 1px 4px 7px 0px rgba(70, 69, 69, 0.75);
}

.nav-item.active a {
  background-color: white;
}

.nav-icon {
  height: 30px;
  width: 30px;
}

.logout {
  position: absolute;
  display: inline-flex;
  width: 200px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 1rem;
}

.logout-icon {
  height: 25px;
  width: 25px;
}
