.student-info {
  padding: 2rem;
  transition: background-color 0.4s ease-in-out;
  cursor: pointer;
}

.student-info h2,
.student-info h3,
.student-info h4,
.student-info h5 {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 400;
}

.student-info:hover {
  background-color: #dddddd;
}

.action {
  display: flex;
  gap: 10px;
}

.action button:last-child {
  background-color: orange;
  transition: background-color 0.3s ease-in-out;
}

.action button {
  border: 0;
  background-color: #0d89f0;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.action button:hover {
  background-color: #0572ca;
}
.action button:last-child:hover {
  background-color: rgb(185, 125, 11);
}

.action img {
  width: 30px;
  height: 30px;
}

/* Styles for 1600x900 resolution */
@media (max-width: 1600px) {
  .student-info {
    padding: 1.8rem;
  }

  .student-info h2,
  .student-info h3,
  .student-info h4,
  .student-info h5 {
    font-size: 1.6rem;
  }

  .action {
    gap: 8px;
  }

  .action button {
    border-radius: 6px;
  }

  .action img {
    width: 28px;
    height: 28px;
  }
}

/* Styles for 1280x768 resolution */
@media (max-width: 1280px) {
  .student-info {
    padding: 1.5rem;
  }

  .student-info h2,
  .student-info h3,
  .student-info h4,
  .student-info h5 {
    font-size: 1.4rem;
  }

  .action {
    gap: 6px;
  }

  .action button {
    border-radius: 5px;
  }

  .action img {
    width: 25px;
    height: 25px;
  }
}
