.card {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #ccc;
  display: inline-block;
}

.card.chart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.card.card--1 {
  background-color: #bf914bbd;
  padding: 2rem;
}

.card.card--2 {
  background-color: #eee1a5;
  padding: 2rem;
}

.card.card--1,
.card.card--2 {
  max-width: 435px;
  box-shadow: 2px 2px 2px #ccc;
}

.image {
  width: 60px;
  height: 60px;
  margin: 0 0 1rem 0;
}

.card h1,
h2 {
  margin: 0;
  color: #6d0740;
}

.card h1 {
  font-weight: 500;
}

.card.card--1 h2 {
  font-weight: 300;
  text-align: center;
  font-size: 8rem;
}
.card.card--2 h2 {
  font-weight: 300;
  flex: 1;
  text-align: center;
  font-size: 4.5rem;
}

.card.card--2 h1 {
  font-size: 2.5rem;
  margin-bottom: 0.8rem;
  font-weight: 600;
}

.card .card--2__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: ; */
}

.card--2__content--date {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding-bottom: 0.5rem;
}

.card--2__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #8d2b2b;
  gap: 1rem;
}

.card--2__footer--signedOut {
  border-left: 1px solid #8d2b2b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  padding-top: 1rem;
}

.card.card--2 .card--2__footer--signedOut h1 {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.card--2__footer--signedOut--count {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signedIn {
  border-right: 1px solid #8d2b2b;
  flex: 1;
  text-align: center;
}
.signedOut {
  border-left: 1px solid #8d2b2b;
  flex: 1;
  text-align: center;
  /* padding-left: 2rem; */
}

.card--2__footer--signedOut p {
  text-align: center;
  font-size: 3rem;
  font-weight: 300;
}

.button-print {
  padding: 1rem 1.2rem;
  border: none;
  border-radius: 5px;
  background-color: #6d0740;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button-print:hover {
  background-color: #8d2b2b;
}

.container {
  display: flex;
  max-height: 300px;
}

input[type="date"] {
  /* width: 100%; */
  width: 150px;
  height: 55px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 8px;
  background-color: #fafafa;
  color: #333;
  transition: all 0.3s ease;
}

input[type="date"]:focus {
  border-color: #4a90e2;
  background-color: #fff;
  outline: none;
}

input[type="date"]:hover {
  border-color: #aaa;
}
