.function-grp {
  display: flex;
  gap: 20px;
  margin-bottom: 2rem;
}

.function-grp img {
  width: 20px;
  height: 20px;
}

.header {
  display: grid;
  gap: 20px;
  grid-template-columns: 110px 250px 100px auto 100px;
  background-color: #4c032b;
  padding: 2rem;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.header h1 {
  font-size: 1.6rem;
  font-weight: 500;
  color: white;
}

.student-list {
  padding: 0;
}

.student-list li {
  display: grid;
  gap: 20px;
  grid-template-columns: 110px 250px 100px auto 100px;
}

.student-list p {
  margin: 0;
}

@media (max-width: 1600px) {
  .header {
    grid-template-columns: 100px 200px 100px auto 100px;
  }

  .header h1 {
    font-size: 1.4rem;
    font-weight: 500;
    color: white;
  }

  .student-list li {
    grid-template-columns: 100px 200px 100px auto 100px;
  }
}

@media (max-width: 1280px) {
  .header {
    grid-template-columns: 100px 100px 100px auto 100px;
  }

  .header h1 {
    font-size: 1.3rem;
    font-weight: 500;
    color: white;
  }

  .student-list li {
    grid-template-columns: 100px 100px 100px auto 100px;
  }
}
