.student-info {
  display: grid;
  grid-template-columns: auto 200px;
  padding: 2rem;
  transition: background-color 0.4s ease-in-out;
  cursor: pointer;
}

.student-info li {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 400;
  list-style: none;
}

.student-info:hover {
  background-color: #dddddd;
}

.student-info-list {
  padding: 0;
  display: grid;
  gap: 20px;
  grid-template-columns: 150px 350px 170px 400px 200px;
}

.action {
  display: flex;
  gap: 10px;
  margin: 0;
}

.action button {
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out;
}

.action .check-in {
  background-color: green;
}

.action .check-out {
  background-color: red;
}

.action .edit {
  background-color: #0d89f0;
}

.action .delete {
  background-color: orange;
}

.action .check-in:hover {
  filter: brightness(0.9);
}

.action .check-out:hover {
  filter: brightness(0.9);
}

.action .edit:hover {
  background-color: #0572ca;
}
.action .delete:hover {
  background-color: rgb(185, 125, 11);
}

.action img {
  width: 30px;
  height: 30px;
}

.link {
  text-decoration: none;
  color: inherit; /* Inherit the color from the parent, or specify a custom color */
}

.link:hover {
  color: #007bff; /* Optional: Change color on hover */
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Optional: Add hover effect for active buttons */
.check-in:not(.disabled):hover,
.check-out:not(.disabled):hover,
.edit:hover,
.delete:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}

/* Styles for 1600x900 resolution */
@media (max-width: 1600px) {
  .student-info {
    display: grid;
    grid-template-columns: auto 100px;
    padding: 1.8rem;
  }

  .student-info li {
    font-size: 1.6rem;
  }

  .student-info-list {
    padding: 0;
    display: grid;
    gap: 20px;
    grid-template-columns: 100px 100px 100px 100px auto 300px;
  }

  .action {
    gap: 8px;
  }

  .action button {
    border-radius: 6px;
  }

  .action img {
    width: 28px;
    height: 28px;
  }
}

/* Styles for 1280x768 resolution */
@media (max-width: 1280px) {
  .student-info {
    display: grid;
    grid-template-columns: auto 100px;
    padding: 1.5rem;
  }

  .student-info li {
    font-size: 1.4rem;
  }

  .student-info-list {
    padding: 0;
    display: grid;
    gap: 20px;
    grid-template-columns: 100px 100px 100px 100px auto 300px;
  }

  .action {
    gap: 6px;
  }

  .action button {
    border-radius: 5px;
  }

  .action img {
    width: 25px;
    height: 25px;
  }
}
