*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */

::selection {
  background: var(--color-primary);
  color: #fff;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
}

img {
  width: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  color: var(--color-body);
  margin: 0;
}
